<!DOCTYPE html>
<html lang="EN">
 <head>
  <title>Chess Board HTML5</title>
  <meta charset="UTF-8">
  <style>
   .box { text-align: center; background-color: #eeeeee; }
   .centered { display: inline-block; margin: 0; }
   .chess-board { border-spacing: 0; border-collapse: collapse; }
   .chess-board th { padding: .5em; }
   .chess-board td { border: 1px solid; width: 5em; height: 5em; text-align: center; vertical-align: middle; }
  </style>
 </head>
 <body>

 <div class="box">
  <div class="centered">

    <!DOCTYPE html>
    <html lang="EN">
     <head>
      <title>Chess Board HTML5</title>
      <meta charset="UTF-8">
      <style>
       .box { text-align: center; background-color: #eeeeee; }
       .centered { display: inline-block; margin: 0; }
       .chess-board { border-spacing: 0; border-collapse: collapse; }
       .chess-board th { padding: .5em; }
       .chess-board td { border: 1px solid; width: 5em; height: 5em; text-align: center; vertical-align: middle; }
      </style>
     </head>
     <body>
    
     <div class="box">
      <div class="centered">
    
        <table class="chess-board">
          <tbody>
           <tr>
            <th></th>
            <th>a</th>
            <th>b</th>
            <th>c</th>
            <th>d</th>
            <th>e</th>
            <th>f</th>
            <th>g</th>
            <th>h</th>
           </tr>
           <tr>
            <th>8</th>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
           </tr>
           <tr>
            <th>7</th>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
           </tr>
           <tr>
            <th>6</th>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
           </tr>
           <tr>
            <th>5</th>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
           </tr>
           <tr>
            <th>4</th>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
           </tr>
           <tr>
            <th>3</th>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
           </tr>
           <tr>
            <th>2</th>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
           </tr>
           <tr>
            <th>1</th>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
            <td class="black" ><black></black></td>
            <td class="white" ><white></white></td>
           </tr>
          </tbody>
         </table>
      </div>
     </div>
    
     </body>
    </html>

  </div>
 </div>

 </body>
</html>